<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">bitcointalk username</th>
      <th scope="col">twitter user url</th>
      <th scope="col">status count</th>
      <th scope="col">most recent status update</th>
    </tr>
  </thead>
  <tbody>
    <% @bitcointalk_users.each do |user| %>
      <tr>
        <th scope="row"><%= user.id %></th>
        <td><%= link_to user.username, user %></td>
        <td><%= shorten_twitter_link user.twitter_user_url %></td>
        <td><%= user.status_count %></td>
        <td><%= most_recent_status(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>